.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888888;
}

.login-button {
  background-color: #DC4C46;
  border: 1px solid white;
  border-radius: $s-size;
  color: white;
  font-size: $l-size;
  padding: $m-size $l-size;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.login-button:hover {
  transform: scale(1.1);
}
